// Media query breakpoints.
$breakpoint-mobile: 480px + 1px;
$breakpoint-small: 	640px + 1px;
$breakpoint-medium: 960px + 1px;
$breakpoint-large: 	1200px + 1px;

// FONTS

$Noto-Sans: "Noto Sans";
$Noto-Serif: "Noto Serif";


// COLORS
$white: #FFFFFF;
$black: #151515;
$red: #ff322e;



