footer{
	
	&#footer{
		border-top: 4px solid $red;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background-color: #000000;
		padding: 25px 0;

		p{
			font-size: 14px;
			font-family: $Noto-Sans;
			color: $white;
			font-weight: bold;
			line-height: 36px;
			margin: 0;
			padding: 0;
		}
	}
}